.experience {
  display: flex;
  flex-direction: column;
  gap: 40px;

  .experienceContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .line {
      position: absolute;
      width: 2px;
      top: 0;
      left: 6px;
      background-color: var(--hg-orange);
      height: 100%;
    }
  }
}
