.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--padding-4);
  padding-bottom: var(--padding-4);
  transition: all 1s ease;

  &.sticky {
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .menu {
    border: none;
    outline: none;
    margin-left: auto;
    background-color: transparent;
    padding-right: var(--padding-6);
    cursor: pointer;

    @media (min-width: 320px) {
      display: block;
    }

    @media (min-width: 748px) {
      display: none;
    }
  }
}
