.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-4);
  transition: all 1s ease;

  &.sticky {
    position: sticky;
    top: 0;
    z-index: 1000;
  }
}
