.stack {
  display: flex;
  flex-direction: column;
  gap: 40px;

  h1 {
    line-height: 1.5;
  }

  p {
    color: var(--color-secondary);

    span {
      color: var(--hg-orange);
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h2 {
      font-size: 1.5rem;
      color: var(--color-primary);
    }

    .cardList {
      display: flex;
      align-items: center;
      justify-content: start;
      width: 100%;
      gap: 5px;

      .polaroid {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding: var(--padding-1);
        background-color: var(--hg-orange);
        border-radius: var(--border-radius-4);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
        transition: all 0.3s ease;
        overflow: hidden;
      }

      .polaroid:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      .polaroid img {
        width: 70px;
        height: 80px;
        object-fit: cover;
        border-radius: var(--border-radius-3);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
      }

      .polaroid:hover img {
        transform: scale(1.1);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
      }

      .cardTitle {
        cursor: pointer;
        position: absolute;
        color: var(--color-bg);
        background-color: var(--hg-orange);
        width: 100%;
        bottom: 0;
        text-align: center;
        font-size: var(--font-size-xs);
        font-weight: bold;
        padding: var(--padding-1) 0;
        border-radius: var(--border-radius-3);
        transition: background-color 0.3s ease;
      }

      .polaroid:hover .cardTitle {
        background-color: var(--hg-green);
      }
    }
  }
}
