.stack {
  display: flex;
  flex-direction: column;
  gap: 40px;

  h1 {
    line-height: 1.5;
  }

  p {
    color: var(--color-secondary);

    span {
      color: var(--hg-orange);
    }
  }

  .searchTabConteiner {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    align-items: center;
    text-align: center;
    cursor: pointer;
    width: 100%;
    gap: 10px;

    .tab {
      border: 1px solid var(--hg-orange);
      border-radius: var(--border-radius-3);
      padding: var(--padding-1) var(--padding-6);
      transition: background-color 0.3s ease, color 0.3s ease;
      font-size: var(--font-size-sm);

      &:hover {
        background-color: var(--hg-orange);
        color: var(--color-bg);
      }
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;

    h2 {
      font-size: 1.5rem;
      color: var(--color-primary);
    }

    .cardList {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
      justify-content: start;
      width: 100%;
      gap: 5px;

      .polaroid {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding: var(--padding-1);
        background-color: transparent;
        border-radius: var(--border-radius-4);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
        transition: background-color 0.3s ease, transform 0.3s ease,
          box-shadow 0.3s ease;
        overflow: hidden;
        filter: grayscale(100%);
      }

      .polaroid:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
        filter: grayscale(0%);
        transform: rotate(5deg);
      }

      .polaroid .icon {
        width: 110px;
        height: 110px;
        padding: var(--padding-5);
        object-fit: contain;
        border-radius: var(--border-radius-3);
        transition: transform 0.3s ease;
      }

      .polaroid:hover .icon {
        transform: scale(1.2);
      }

      .cardTitle {
        cursor: pointer;
        position: absolute;
        color: var(--color-bg);
        background-color: var(--hg-orange);
        width: 100%;
        bottom: 0;
        text-align: center;
        font-size: var(--font-size-xs);
        font-weight: bold;
        padding: var(--padding-1) 0;
        border-radius: var(--border-radius-3);
        transition: background-color 0.3s ease;
        display: none;
      }

      .polaroid:hover .cardTitle {
        background-color: var(--hg-green);
        display: block;
      }
    }
  }
}
