.footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: var(--padding-4);
  padding-bottom: var(--padding-4);

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footerLinks {
      display: flex;
      gap: 20px;

      a {
        &:hover {
          color: var(--hg-orange);
        }
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: var(--padding-6);

    .copy {
      font-size: var(--font-size-sm);
    }

    .techUse {
      display: flex;
      gap: 20px;

      .deploy {
        display: flex;
        align-items: center;
        gap: 5px;

        p {
          font-size: var(--font-size-sm);
          color: var(--color-primary);
        }

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
          color: var(--color-primary);

          &:hover {
            color: var(--hg-green);
          }
        }
      }
    }
  }

  @media (max-width: 748px) {
    .top {
      .footerLinks {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        width: 100%;
      }

      .footerTheme {
        margin-top: auto;
      }
    }

    .bottom {
      flex-direction: column;
      gap: 20px;

      .copy {
        margin-right: auto;
      }

      .techUse {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        width: 100%;
        margin-right: auto;

        .deploy {
          font-size: var(--font-size-xs);
        }
      }
    }
  }
}
